# Specific files and folders
_Binary/*D.exe
_Binary/*D.cfg
Z_DELETE

# Compiled Object files
*.slo
*.lo
*.o

# Visual Studio specifics
*.suo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app
*.sdf
*.opensdf

# Interpreter
*.stackdump
*.opendb
*.db
.vs/
_Binary/*_d.ini
